@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$btn-try-border:#FF6803;
$nav-link-color:#252525;
$line:#57647C;
$line-color:lighten($line,50%);
$numbers:#F23779;




//Fonts
$font-header: 'Poppins', sans-serif;
$font-roboto:'Roboto', sans-serif;