@import "./variables";
@import"./breakponts";
@import"./mixins";

*{
    box-sizing: border-box;
}
html , body{
    padding: 0;
    margin: 0;
    font-size: 16px;
}
//header Style**********************
.header{
    background-image: url('../images/BG.svg'); 
    background-position: bottom center;
    background-size: cover;
    height: 500px;
    .display-nav{
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
      gap: 1rem;
      .navbar-brand{
          grid-column: 1 / span 2;
          border-bottom: 4px solid $btn-try-border ;

      }
    }
    .navbar{
        box-shadow: none;
        border-bottom: 1px solid $line-color;
    }
     .nav-link{
        color: $nav-link-color !important;   
    }
    
    .btn-try{
        border: 1px solid $btn-try-border;
        background-color: transparent;
    }
    
    .navbar-toggler{
       background-color:$btn-try-border; 
      
    }
    .container{
      position: relative;
        .shape{
            position: absolute;
            right:-250px;
            top: -60px;
            .shape1{
                height: 700px;
            }
            .position{
                position: absolute;
                top:200px;
                right:200px;
                height: 400px;

            }
            .position-button{
                position: absolute;
                bottom: 70px;
               left:100px;
            }
               
        }
        .paragraph{
            position: absolute;
            top:150px;
            h1{
               padding-right: 0rem;
               font-family:$font-header;
            }
            p{
                padding-right: 0rem;
                font-family: $font-roboto;
                margin-bottom: 5rem;
            }
        }
        
    }
        
} 

#effectiv-tools {
    .paragraph2{
        h2{
          @extend .h-style;
        }
        p{
            font-family:$font-roboto;  
        }
    }
    .row{
        justify-content:space-evenly;
        h3{
            font-family: $font-header;
            font-size: 1rem;
        }
    }
} 
#process-flow{
    
    .row{
        position: relative;
        display:grid;
        grid-template-columns:1fr 1fr;
        gap:10rem;
        .paragraph-3{
            margin-top: 5rem;   
        }
        .shape-2{
            position: absolute;
            top:0;
            left: -300px;
            width: 800px;
        }

        h2{
            @extend .h-style;
            padding-right:0rem;
            padding-left:4rem;
        }
        
        ul{
            list-style: none;
            .numbers{
                color: $numbers;
                font-size: 2rem;
                font-family:$font-header;
            }
            h3{
                font-family: $font-header;
                font-size: 1rem;
            }
        }
    }
}
#statistic{
    h1{
     @extend .h-style;
     text-align: center;
    }
    .para{
        @extend .p-style;
        text-align: center;
    }
    .map-ap{
       background-image: url(../images/Map.png);
       background-size: auto;
       background-position: 50% 50%;
       background-repeat: no-repeat;
    }
    
    ul{
        display: block;
        list-style: none;
        padding-top: 5rem;
        padding-bottom: 5rem;
        li{
            text-align: center;
        }
        h3{
            @extend .h-style;
            color:$numbers
        }

    }
    .rectangel{
        width: 330px;
        height: 130px;
        border: 1px solid transparent;
        margin:0 auto;
        
    }
    
}
//------------------------------------------
#cutomer-review{
    padding-top: 5rem;
    .image-black{
       height: 70%;
    }
    .title{
        text-align: center;
        position: relative;
        width: 100%;
        h1{
          @extend .h-style;
         
        }
    }
    .orange-card{
        position: absolute;
        top:150px;
        left:0px;
    }
    .text{
        position: absolute;
        top:150px;
        left:100px;
    }
    .container{
        position: relative;
    }
    .arrow{
        position:absolute;
        bottom:-450px;
        right:0px;

    }
}
#latest-news{
    margin-top: 23rem;
    .latest-news-text{
        padding:4rem 1rem;
    }
    .date{
        color:$btn-try-border;
    }

}
    @include md {
        .header{
            height: 600px;

        }
        #statistic{
            h1{
             
             padding:3rem 8rem;
            
            }
            .para{
               
               
                padding:0 8rem;
            }
            .rectangel{
                width: 630px;
                height: 130px;
                }

            }
    }
 
    @include lg {
        .header{
            height: 900px;
            .display-nav{
                display: flex;
                .navbar-brand{
                    border-bottom: none;
                }  
              }
            .container{
                .paragraph{
                    h1{
                       padding-right: 30rem;  
                    }
                    p{
                        padding-right: 32rem;     
                    }
                }
            }
        }
        #process-flow{
            .row{
                h2{
                    padding-right: 10rem;
    
                }
               
            }
           
        }
        #statistic{
            h1{
             
             padding:3rem 15rem;
            
            }
            .para{
               
               
                padding:0 15rem;
            }
            .display-flex{
                display: flex;
                justify-content: space-around;
            }

        }
        //----------------------------
        #cutomer-review{
            .title{
                text-align: left;
                width: 50%;
            }
            .orange-card{
                top:150px;
                left:-400px;
            }
            
            .arrow{
                bottom:-100px;
                right:0px;
            }
        }
        //-------------------------------
        #latest-news{
            margin-top: 7rem;
            .latest-news-text{
                padding:4rem 17rem;
            }
        
        }
        

    }
    @include xl {
      
    }
    @include xxl {
       
    }



