@import "./variables";
@import"./breakponts";

*{
    box-sizing: border-box;
}
html , body{
    padding: 0;
    margin: 0;
    font-size: 16px;
}
//header Style**********************
header{
    background-image: url('../images/BG.svg');
    background-size: cover;
    background-position: bottom right;
    height:100vh;
    .navbar{
        box-shadow: none;
        border-bottom: 1px solid $line-color;
    }
     .nav-link{
        color: $nav-link-color !important;   
    }
   
    .btn-try{
        border: 1px solid $btn-try-border;
        background-color: transparent;
    }
    
    .navbar-toggler{
       background-color:$btn-try-border; 
      
    }
    .container{
      position: relative;
        .shape{
            position: absolute;
            right:-250px;
            top: -60px;
               
        }
        .paragraph{
            position: absolute;
            top:150px;
            h1{
               padding-right: 60rem;
               font-family:$font-header;
            }
            p{
                padding-right: 55rem;
                font-family: $font-roboto;
                margin-bottom: 5rem;
            }
        }
         

       
        
    }
    
    
    
} 
.container {
   
    @include md {
        max-width: 720px;
    }
    @include lg {
        max-width: 960px;
    }
    @include xl {
        max-width: 1140px;
    }
    @include xxl {
        max-width: 1320px;
    }
}


